<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="/login.css">

		<th:block th:include="header.html"></th:block>
			<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
</style>
</head>
<body>
	<div class="container">
		<table>
			<thead>
				<th class="title">로그인</th>			
			</thead>
			<tr>
				<td id="id">아이디 : <input class="id" placeholder="아이디를 입력하세요."></td>
			</tr>
			<tr>
				<td id="pw">비밀번호 : <input class="pw" placeholder="비밀번호를 입력하세요."></td>
			</tr>
			<tr>
				<td id="btn"><button  class="btn" >로그인</button></td>
			</tr>
		</table>	
	</div>
	

</body>
</html>